.header {
  padding: 24px;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

.navList {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navLink {
  font-weight: 500;
  color: rgb(54, 54, 54);
  text-decoration: none;
}

.navLink:hover,
.navLink.active {
  color: rgb(184, 39, 3);
}